apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../dev

namespace: invoice-analyzer-dev

patches:
  # Override SecretStore for Minikube
  - target:
      kind: SecretStore
      name: aws-secretsmanager
    patch: |-
      - op: replace
        path: /spec/provider/aws/auth
        value:
          secretRef:
            accessKeyIDSecretRef:
              name: aws-creds
              key: access-key
            secretAccessKeySecretRef:
              name: aws-creds
              key: secret-key
  
  # Remove EKS IRSA annotation from external-secrets ServiceAccount
  - target:
      kind: ServiceAccount
      name: external-secrets-sa
    patch: |-
      - op: remove
        path: /metadata/annotations/eks.amazonaws.com~1role-arn
  
  # Fix all PVCs in invoice-analyzer-dev namespace
  - patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
    target:
      kind: PersistentVolumeClaim
  
  # Fix StatefulSet storage class
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/storageClassName
        value: standard
    target:
      kind: StatefulSet
      name: postgres
  
  # Remove EKS IRSA annotations from backend ServiceAccount
  - patch: |-
      - op: remove
        path: /metadata/annotations/eks.amazonaws.com~1role-arn
    target:
      kind: ServiceAccount
      name: backend-sa
  
  # Add imagePullSecrets to backend deployment
  - patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: ecr-registry-secret
    target:
      kind: Deployment
      name: backend
  
  # Add imagePullSecrets to frontend deployment
  - patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: ecr-registry-secret
    target:
      kind: Deployment
      name: frontend
  
  # Add imagePullSecrets to migration job
  - patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: ecr-registry-secret
    target:
      kind: Job
      name: db-migration
  
  # Change LoadBalancer to NodePort
  - patch: |-
      - op: replace
        path: /spec/type
        value: NodePort
    target:
      kind: Service
      name: postgres-lb