apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: invoice-analyzer
    component: database
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: invoice-analyzer
    component: database
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  labels:
    app: invoice-analyzer
    component: database
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: invoice-analyzer
    component: database
