apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: invoice-analyzer
    component: frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: invoice-analyzer
    component: frontend
