---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: prometheusrules.monitoring.coreos.com
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
    controller-gen.kubebuilder.io/version: v0.11.1
  labels:
    app.kubernetes.io/name: prometheus-operator
    app.kubernetes.io/part-of: prometheus-operator
spec:
  group: monitoring.coreos.com
  names:
    categories:
    - prometheus-operator
    kind: PrometheusRule
    listKind: PrometheusRuleList
    plural: prometheusrules
    singular: prometheusrule
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: PrometheusRule defines recording and alerting rules for a Prometheus instance
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object.'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents.'
            type: string
          metadata:
            type: object
          spec:
            description: Specification of desired alerting rule definitions for Prometheus.
            properties:
              groups:
                description: Content of Prometheus rule file
                items:
                  description: RuleGroup is a list of sequentially evaluated recording and alerting rules.
                  properties:
                    interval:
                      description: Interval determines how often rules in the group are evaluated.
                      type: string
                    name:
                      description: Name of the rule group.
                      type: string
                    partial_response_strategy:
                      description: PartialResponseStrategy is only used by ThanosRuler and will be ignored by Prometheus instances.
                      type: string
                    rules:
                      description: List of alerting and recording rules.
                      items:
                        description: Rule describes an alerting or recording rule.
                        properties:
                          alert:
                            description: Name of the alert. Must be a valid label value.
                            type: string
                          annotations:
                            additionalProperties:
                              type: string
                            description: Annotations to add to each alert.
                            type: object
                          expr:
                            anyOf:
                            - type: integer
                            - type: string
                            description: PromQL expression to evaluate.
                            x-kubernetes-int-or-string: true
                          for:
                            description: Alerts are considered firing once they have been returned for this long.
                            type: string
                          labels:
                            additionalProperties:
                              type: string
                            description: Labels to add or overwrite.
                            type: object
                          record:
                            description: Name of the time series to output to. Must be a valid metric name.
                            type: string
                        required:
                        - expr
                        type: object
                      type: array
                  required:
                  - name
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
