apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: invoice-analyzer-dev


patches:
- path: deployment.yaml
  target:
    kind: Deployment
    name: backend
- path: configmap.yaml
  target:
    kind: ConfigMap
    name: backend-config
- path: hpa.yaml
  target:
    kind: HorizontalPodAutoscaler
    name: backend-hpa
- path: serviceaccount.yaml
  target:
    kind: ServiceAccount
    name: backend-sa

commonLabels:
  environment: dev

images:
- name: invoice-analyzer-backend
  newName: 889039329094.dkr.ecr.us-west-2.amazonaws.com/invoice-analyzer-backend
  newTag: "29"
resources:
- ../../../base/backend
